.social-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.post-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 3rem;
    width: 40%;
    gap: 2rem;
}

.post-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.profile-image {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.author-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.channel-image {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.post-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.post-footer-channel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.post-footer-like-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.like-button {
    background-color: rgb(19, 24, 25);
    cursor: pointer;
    /* border-radius: 10%; */
    border: none;
}

.like-button:hover {
    transform: scale(1.02);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}