* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: white;
    font-family: Poppins, sans-serif;
}

body {
    background-color: rgb(19,24,25);
}

.music-list-container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}